<div class="display">
<div class="border-bottom m-3 p-3">
    <h2 class="text-primary">GENRES CURRENTLY AVAILABLE IN THE STORE</h2>
    </div>
    <div class="display m-3 p-3">
        <table class="table">
            <thead>
                <th> Author ID</th>
                <th>Name</th>
                <th></th>
            </thead>
            <tbody > 
                <tr *ngFor="let genre of Genre |paginate: {itemsPerPage: pageSize,currentPage:page,totalItems: count}">
                    <ng-container *ngIf="genre.isActive==1">
                    <td>
                        {{genre.genreId}} 
                    </td>
                    <td>
                            {{genre.genreName}} 
                    </td>
                    <td>
                        <button class="btn btn-outline-primary m-1" [routerLink]="['/editgenre', genre.genreId]">Edit</button>
                        <button class="btn btn-outline-danger m-1" >Delete</button>
                    </td>
                </ng-container>
                </tr>
            </tbody>
        </table>
         <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls> 
    </div>
    </div>
