<div class="border-bottom m-3 p-3">
<h2 class="text-primary">AUTHORS CURRENTLY AVAILABLE IN THE STORE</h2>
</div>
<div class="display m-3 p-3">
    <table class="table table-bordered">
        <thead>
            <th> Author ID</th>
            <th>Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let author of Authors">
                <ng-container *ngIf="author.isActive==1">
                <td>
                    {{author.authorId}} 
                </td>
                <td>
                    <a [routerLink]="['/authorwise', author.authorId]" class="links">
                        {{author.authorName}} 
                    </a>
                </td>
                <td>
                    <button class="btn btn-outline-primary m-1">Edit</button>
                    <button class="btn btn-outline-danger m-1" (click)="deleteauthors(author.authorId)">Delete</button>
                </td>
            </ng-container>
            </tr>
        </tbody>
    </table>
</div>
