<div class=" p-3 display">
    <form [formGroup]="NewGenre" >
      <input type="text" placeholder="enter the genre name" class="form-control m-1" formControlName="genreName">
     <label>Location</label> <select class="form-control m-1" formControlName="location">
        <ng-container *ngFor="let location of LocationsWithSpace">
        <option value={{location.locationId}}>{{location.locationName}}</option>
        </ng-container>
      </select>
        <button type="button" class="btn btn-primary"(click)="addgenre()" data-bs-dismiss="modal">Add Genre</button>
    </form>
</div>
