<div class="row" >
  <ng-container  *ngFor="let item of Books">
  <div  class="col-3" *ngIf="item.isActive==1">
   <div class="card  m-2 cardDivision">
    <div class="card-body">
        <div class="image">
            <img src={{item.images}} class=" card-img-top" alt="book image">
        </div>
        <div class="m-3">
            <h3 class="fw-bold border-bottom">{{item.title}}</h3>
            <p class="text-muted">{{item.description}}</p>
            <p> Price: {{item.price}}Rs</p>
            <button class="btn btn-outline-primary m-1" [routerLink]="['/editbook', item.bookId]">Edit</button>
            <button class="btn btn-outline-danger m-1"(click)="deleteBook(item.bookId)"> Delete</button><br>
            <div *ngFor="let genre of Genre">
              <div *ngFor="let location of Locations">
                  <span *ngIf="item.genre==genre.genreId">
                      <span *ngIf="genre.location==location.locationId">
                      <p>Location: The book can be found on {{location.locationName}}</p>
                    </span>
                  </span>
              </div>
            </div>
            <a class="text-primary m-2" [routerLink]="['/details', item.bookId]">Details>>></a>
        </div>
    </div>
  </div>
  </div>
  </ng-container>
   </div>


