<div class="container display">
<ng-container *ngFor="let book of Books" >
    <span *ngIf="book.bookId==selectedBookId">
        <h2>{{book.title}}</h2>
        <div class="d-flex">
            <img src={{book.images}} alt="book cover" class="image">
            <div>
            <p> ISBN OF THE PRODUCT:{{book.isbn}}</p><br>
            <p>{{book.description}}</p>
            <ng-container *ngFor="let author of Authors">
                <span *ngIf="author.authorId==book.author">
            <p> About the author: <a>{{author.authorName}}</a></p>
        </span>
        </ng-container>
        <div>
        <button class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal5"> Add Languages for this book</button>
        </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <th scope="col">Languages available</th>
                <th scope="col">Quantity</th>
            </thead>
            <tbody *ngFor="let lan of BooksInLanguage" class="">
              <tr *ngIf="lan.book== selectedBookId" scope="row">
                        <ng-container *ngFor="let lang of Languages">
                         <td *ngIf="lang.languageId== lan.language">
                            {{lang.name}}
                        </td>
                    </ng-container>
                        <td>{{lan.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
           
            </span>
</ng-container>
</div>



<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add langauge available</h5>
          <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="NewLanguageForBook">
            <label>Select a language</label>  <select class="form-control" formControlName="language">
                      <ng-container *ngFor="let language of Languages">
                            <option value={{language.languageId}}>{{language.name}}</option>
                      </ng-container>
                 
              </select>
              <input type="number" class="form-control" placeholder="enter your qunatity" formControlName="quantity">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addNewLanguage()" data-bs-dismiss="modal">Add book in a new language</button>
        </div>
      </div>
    </div>
  </div>
  