<div class="d-flex navigation container-fluid border-bottom border-primary">
    <div class=" text my-auto text-primary mx-2">
        <span class="me-2 changecursor">Bookstore <i class="fas fa-book-reader"></i></span>
    </div>
</div>
<div class="display">
    <div class="card mx-auto" style="height:50vh; width:75vh">
     <div class="card-header"><h4>Sign Up<span class="fa fa-book-reader"></span></h4></div>
            <div class="mx-auto">
     <form class="p-2 " >
    <div class="m-2"><label class="m-1">Email</label><input type="text" placeholder="enter your email"></div>
  <div class="m-2"><label class="m-1">Username</label> <input type="text" placeholder="create your username"></div>
  <div  class="m-2"><label class="m-1">Password</label> <input type="password" placeholder="create your password" ></div>
  <div class="mx-auto button"><button class="btn btn-primary">Sign UP</button></div>
</form>
</div>
<p class="mx-auto">Already have an account<a routerLink ="/login">Login</a></p>
</div>
</div> 
